.App {
  background-color: #FCF6E5;
}

.CodeMirror {
  background-color: #FCF6E5;
}

.te-md-container .CodeMirror {
  font-family: 'Mulish', sans-serif !important;
  font-size: 15px;
}

.tui-editor-defaultUI {
  border: none;
  width: 100vw;
  overflow: hidden;
  font-family: 'Mulish', sans-serif;
}

.te-toolbar-section {
  height: unset;
}

.te-markdown-tab-section {
  height: unset !important;
  display: none !important;
}

.te-toolbar-section {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-top: 1px solid #e5e5e5;
  border-bottom: none;
}

.tui-editor-defaultUI-toolbar {
  background-color: #FCF6E5;
  height: unset;
}

.tui-editor-defaultUI-toolbar button {
  border: none;
  background-color: #FCF6E5;
  border-radius: 2px;
}

.tui-editor-defaultUI-toolbar button:hover, .tui-editor-defaultUI-toolbar button:active, .tui-editor-defaultUI-toolbar button.active {
  border: none;
  background-color: #E7E7E7;
}

.tui-toolbar-icons {
  /* filter: grayscale(1) brightness(2); */
}
