.App {
}

.te-markdown-tab-section {
  display: none !important;
}

.te-toolbar-section {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-top: 1px solid #e5e5e5;
  border-bottom: none;
}

.tui-editor-defaultUI-toolbar {
  background-color: #424242;
}

.tui-editor-defaultUI-toolbar button {
  border: none;
  background-color: #212121;
  border-radius: 2px;
}

.tui-editor-defaultUI-toolbar button:hover, .tui-editor-defaultUI-toolbar button:active, .tui-editor-defaultUI-toolbar button.active {
  border: none;
  background-color: #424242;
}

.tui-toolbar-icons {
  filter: grayscale(1) brightness(2);
}
