.App {
  background-color: #FCF6E5;
}

.default-wrapper {
  background-color: #FCF6E5;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  -webkit-app-region: drag;
}

.default-logo {
  width: 300px;
  height: 300px;
}

.not-found {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.vertical {
  width: 1px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.toaster {
  font-size: 14px;
  background-color: #FBF6E7;
}

.login-options {
  display: flex;
}

.login-button {
  margin: 0px 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 6px;
  border: 2px solid #C2B793;
  background-color: #e3dcc3;
  transition: all 0.3s;
}

.login-button:hover {
  background-color: #C2B793;
}

.login-button svg {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}

.login-button span {
  font-family: 'Mulish', sans-serif !important;
  font-size: 14px;
  font-weight: 600;
}

.download-row {
  display: flex;
  padding: 0px 50px;
  margin: 20px 0px;
}

.download-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px;
  flex-grow: 1;
  flex: 1;
}

.download-col img {
  width: 100%;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
  max-width: 400px;
}

.download-buttons {
  margin: 20px 0px;
}

.download-buttons button {
  padding: 8px 13px;
  border-radius: 6px;
  background-color: #e3dcc3;
  transition: all 0.3s;
  margin: 0px 10px 10px;
  font-weight: 600;
  font-family: 'Mulish', sans-serif;
}

.download-buttons button:hover {
  background-color: #C2B793;
}

@media (max-width: 769px) {
  .download-row {
    flex-direction: column;
    padding: 0px 10px;
  }
  .download-wrapper {
    min-height: 100vh;
    height: 100%;
    overflow-y: scroll;
    justify-content: unset;
  }
}

.sync-code-input {
  font-family: 'Mulish', sans-serif !important;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 6px;
  border: 2px solid #C2B793;
  background-color: #e3dcc3;
  transition: all 0.3s; 
}

.sync-code-input:hover {
  background-color: #C2B793;
}

.sync-code-input:focus {
  outline: none;
}

.last-sync {
  font-size: 14px;
}